<template>
  <v-container class="fill-height">
    <v-col
      align-self="start"
      justify="center"
      offset-lg="2"
      lg="8"
    >
      <AffectedCountriesSelector
        v-model="countries"
        multiple
      />

      <CasesSelector v-model="cases" />
      <InitBySelector v-model="initBy" />
      <CountriesComparatorChart
        v-if="showComparatorChar"
        :countries="countries"
        :cases="cases"
        :init-by="initBy"
      />
    </v-col>
  </v-container>
</template>

<script>
// @ is an alias to /src
import AffectedCountriesSelector from "@/components/AffectedCountriesSelector.vue";
import CountriesComparatorChart from "@/components/CountriesComparatorChart.vue";
import CasesSelector from "@/components/CasesSelector.vue";
import InitBySelector from "@/components/InitBySelector.vue";

export default {
  name: "Home",
  components: {
    AffectedCountriesSelector,
    CountriesComparatorChart,
    CasesSelector,
    InitBySelector
  },
  data: () => ({
    countries: [],
    cases: "confirmed",
    initBy: "date"
  }),
  computed: {
    showComparatorChar() {
      return this.countries.length > 0;
    }
  }
};
</script>
