<template>
  <v-container
    class="fill-height"
    fluid
  >
    <v-col
      align-self="start"
      justify="start"
    >
      <AffectedCountriesSelector v-model="country" />
      <HistoryByCountryChart
        v-if="country"
        :country="country"
      />
    </v-col>
    <ShareButton :url="url" />
  </v-container>
</template>

<script>
// @ is an alias to /src
import AffectedCountriesSelector from "@/components/AffectedCountriesSelector.vue";
import HistoryByCountryChart from "@/components/HistoryByCountryChart.vue";
import ShareButton from "@/components/ShareButton.vue";

export default {
  name: "History",
  components: {
    AffectedCountriesSelector,
    HistoryByCountryChart,
    ShareButton
  },
  computed: {
    country: {
      get: function() {
        return this.$route.query.country;
      },
      set: function(country) {
        this.$router.push({ query: { country } });
      }
    },
    location: () => {
      return document.location.href;
    }
  }
};
</script>
