<template>
  <v-container
    class="fill-height"
    fluid
  >
    <v-col
      align-self="center"
      justify="start"
    >
      <NotFound>
        <router-link :to="{ name: 'Home' }">
          Take me away
        </router-link>
      </NotFound>
    </v-col>
  </v-container>
</template>

<script>
// @ is an alias to /src
import NotFound from "@/components/NotFound.vue";

export default {
  name: "History",
  components: {
    NotFound
  }
};
</script>
