<template>
  <v-autocomplete
    v-model="inputValue"
    :items="affectedCountries"
    label="Country"
    clearable
    :multiple="multiple"
    :chips="multiple"
    no-data-text="No countries"
    :deletable-chips="multiple"
    @update:search-input="updateSearchInput"
  >
    <template
      v-if="multiple && filteredContinents.length"
      v-slot:prepend-item
    >
      <v-list-item
        v-for="continent in filteredContinents"
        :key="continent"
        ripple
        @click="selectContinentCountries(continent)"
      >
        <v-list-item-action>
          <v-icon
            :color="inputValue.length > 0 ? 'primary' : ''"
          >
            {{ continentCountriesIcon(continent) }}
          </v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
            <template
              v-if="selectedAllContinentCountries(continent)"
            >
              Unselect {{ continent }} countries
            </template>
            <template v-else>
              Select all {{ continent }} countries
            </template>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mt-2" />
    </template>
    <template
      v-if="multiple"
      v-slot:selection="{ item, index }"
    >
      <v-chip v-if="index === 0">
        <span>{{ item }}</span>
      </v-chip>
      <span
        v-if="index === 1"
        class="grey--text caption"
      >(+{{ model.length - 1 }} others)</span>
    </template>
  </v-autocomplete>
</template>

<script>
import affectedCountries, {
  continents,
  getContinentCountries
} from "@/services/affectedCountries";

export default {
  name: "AffectedCountriesSelector",
  props: ["value", "multiple"],
  data: function() {
    return {
      affectedCountries: [],
      continents: continents,
      searchInput: ""
    };
  },
  computed: {
    inputValue: {
      get() {
        return this.value || [];
      },
      set(val) {
        console.log(val);
        this.$emit("input", val);
      }
    },
    filteredContinents() {
      const that = this;
      return this.continents.filter(continent => {
        return (
          !that.searchInput ||
          (continent &&
            continent.toLowerCase().indexOf(that.searchInput.toLowerCase()) !==
              -1)
        );
      });
    }
  },
  beforeMount: async function() {
    this.affectedCountries = await affectedCountries().then(
      affectedCountries => {
        return affectedCountries.sort().map(affectedCountry => ({
          text: affectedCountry,
          value: affectedCountry
        }));
      }
    );
  },
  methods: {
    updateSearchInput(searchInput) {
      this.searchInput = searchInput;
    },
    selectContinentCountries(continent) {
      this.$nextTick(() => {
        const countries = getContinentCountries(continent);
        const newCountries = this.inputValue.filter(
          country => countries.indexOf(country) === -1
        );
        if (this.selectedAllContinentCountries(continent)) {
          this.inputValue = newCountries;
        } else {
          this.inputValue = [...newCountries, ...countries];
        }
      });
    },
    selectedAllContinentCountries(continent) {
      const countries = getContinentCountries(continent);
      return countries.every(country =>
        this.inputValue.find(value => value === country)
      );
    },
    selectedSomeContinentCountries(continent) {
      const countries = getContinentCountries(continent);
      return countries.some(country =>
        this.inputValue.find(value => value === country)
      );
    },
    continentCountriesIcon(continent) {
      if (this.selectedAllContinentCountries(continent))
        return "mdi-checkbox-marked";
      if (this.selectedSomeContinentCountries(continent))
        return "mdi-minus-box";
      return "mdi-checkbox-blank-outline";
    }
  }
};
</script>

<style lang="scss"></style>
