<template>
  <v-radio-group v-model="localValue">
    <v-radio
      v-for="option in options"
      :key="option.value"
      :label="option.text"
      :value="option.value"
    />
  </v-radio-group>
</template>
<script>
export default {
  name: "CasesSelector",
  components: {},
  data: () => ({
    options: [
      {
        text: "Confirmed",
        value: "confirmed"
      },
      {
        text: "Deaths",
        value: "deaths"
      },
      {
        text: "Recovered",
        value: "recovered"
      }
    ]
  }),
  computed: {
    localValue: {
      get() {
        return this.$attrs.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    }
  }
};
</script>
<style lang="scss">
</style>
