<template>
  <VueApexCharts
    v-if="historyByCountries.length"
    type="line"
    width="100%"
    :options="options"
    :series="series"
  />
</template>

<script>
import historyByCountries from "@/services/historyByCountries";
import VueApexCharts from "vue-apexcharts";

export default {
  name: "CountriesComparatorChart",
  components: {
    VueApexCharts
  },
  props: {
    countries: {
      type: Array,
      required: true
    },
    cases: {
      type: String,
      default: "confirmed"
    },
    initBy: {
      type: [String, Number],
      default: "timeline"
    }
  },
  data() {
    return {
      historyByCountries: []
    };
  },
  computed: {
    categories: function() {
      if (typeof this.initBy === "number") {
        return this.historyByCountries[0].history
          .filter(history => {
            history[this.cases] > this.initBy;
          })
          .map((a, index) => index);
      }
      return this.historyByCountries[0].history.map(({ date }) => date);
    },
    options: function() {
      if (!this.historyByCountries.length) {
        return {};
      }
      return {
        stroke: {
          width: 2,
          curve: "straight"
        },
        chart: {
          id: "vuechart-example",
          stacked: false
        },
        xaxis: {
          type: this.initBy === "date" ? "datetime" : "number",
          categories: this.categories
        }
      };
    },
    series: function() {
      return [...this.historyByCountries]
        .sort((historyByCountry1, historyByCountry2) => {
          return (
            historyByCountry2.history[historyByCountry2.history.length - 1][
              this.cases
            ] -
            historyByCountry1.history[historyByCountry1.history.length - 1][
              this.cases
            ]
          );
        })
        .map(historyByCountry => ({
          name: `${historyByCountry["Country/Region"]} ${this.cases}`,
          data: historyByCountry.history
            .filter(history => {
              if (typeof this.initBy === "number") {
                return history[this.cases] > this.initBy;
              }
              return true;
            })
            .map(history => history[this.cases])
        }));
    }
  },
  watch: {
    countries: function(countries) {
      this.historyByCountries = [];
      var that = this;
      historyByCountries({ countries }).then(historyByCountries => {
        that.historyByCountries = historyByCountries.map(
          ({ history, ...data }) => ({
            ...data,
            history: Object.values(history)
          })
        );
      });
    }
  },
  beforeMount: async function() {
    const that = this;
    return historyByCountries({ countries: this.countries }).then(
      historyByCountries => {
        that.historyByCountries = historyByCountries.map(
          ({ history, ...data }) => ({
            ...data,
            history: Object.values(history)
          })
        );
      }
    );
  }
};
</script>

<style></style>
