
<template>
  <div class="CoVid">
    <div class="CoVid__Wrapper">
      <svg
        class="CoVid__Icon"
        width="170"
        height="170"
      >
        <g id="Layer_1">
          <g>
            <ellipse
              transform="matrix(0.7071 -0.7071 0.7071 0.7071 -35.2081 84.9996)"
              class="st1"
              cx="85"
              cy="85"
              rx="54.5"
              ry="54.5"
            />
            <path
              class="st1"
              d="M159.4,85c0,4.4-2.1,7.9-4.6,7.9c-2.5,0-4.6-3.5-4.6-7.9c0-4.4,2.1-7.9,4.6-7.9
          C157.4,77.1,159.4,80.6,159.4,85z"
            />
            <line
              class="st1"
              x1="150.2"
              y1="85"
              x2="139.5"
              y2="85"
            />
            <ellipse
              class="st1"
              cx="15.2"
              cy="85"
              rx="4.6"
              ry="7.9"
            />
            <line
              class="st1"
              x1="19.8"
              y1="85"
              x2="30.5"
              y2="85"
            />
            <path
              class="st1"
              d="M137.6,137.6c-3.1,3.1-7,4.1-8.8,2.3c-1.8-1.8-0.7-5.8,2.3-8.8c3.1-3.1,7-4.1,8.8-2.3
          C141.8,130.6,140.7,134.5,137.6,137.6z"
            />
            <line
              class="st1"
              x1="131.1"
              y1="131.1"
              x2="123.5"
              y2="123.5"
            />
            <path
              class="st1"
              d="M32.4,32.4c-3.1,3.1-4.1,7-2.3,8.8c1.8,1.8,5.8,0.7,8.8-2.3c3.1-3.1,4.1-7,2.3-8.8
          C39.4,28.2,35.5,29.3,32.4,32.4z"
            />
            <line
              class="st1"
              x1="38.9"
              y1="38.9"
              x2="46.5"
              y2="46.5"
            />
            <path
              class="st1"
              d="M85,159.4c-4.4,0-7.9-2.1-7.9-4.6s3.5-4.6,7.9-4.6c4.4,0,7.9,2.1,7.9,4.6S89.4,159.4,85,159.4z"
            />
            <line
              class="st1"
              x1="85"
              y1="150.2"
              x2="85"
              y2="139.5"
            />
            <path
              class="st1"
              d="M85,10.6c-4.4,0-7.9,2.1-7.9,4.6s3.5,4.6,7.9,4.6c4.4,0,7.9-2.1,7.9-4.6S89.4,10.6,85,10.6z"
            />
            <line
              class="st1"
              x1="85"
              y1="19.8"
              x2="85"
              y2="30.5"
            />
            <path
              class="st1"
              d="M32.4,137.6c-3.1-3.1-4.1-7-2.3-8.8c1.8-1.8,5.8-0.7,8.8,2.3c3.1,3.1,4.1,7,2.3,8.8
          C39.4,141.8,35.5,140.7,32.4,137.6z"
            />
            <line
              class="st1"
              x1="38.9"
              y1="131.1"
              x2="46.5"
              y2="123.5"
            />
            <path
              class="st1"
              d="M137.6,32.4c-3.1-3.1-7-4.1-8.8-2.3c-1.8,1.8-0.7,5.8,2.3,8.8c3.1,3.1,7,4.1,8.8,2.3
          C141.8,39.4,140.7,35.5,137.6,32.4z"
            />
            <line
              class="st1"
              x1="131.1"
              y1="38.9"
              x2="123.5"
              y2="46.5"
            />
            <path
              class="st1"
              d="M164,117.7c-1.7,4-4.1,4.5-6.4,3.5c-2.3-1-3.7-3-2.1-7c1.7-4,4.1-4.5,6.4-3.5
          C164.3,111.7,165.6,113.7,164,117.7z"
            />
            <line
              class="st1"
              x1="155.5"
              y1="114.2"
              x2="135.3"
              y2="105.8"
            />
            <path
              class="st1"
              d="M6,52.3c-1.7,4-0.3,6.1,2.1,7c2.3,1,4.8,0.5,6.4-3.5c1.7-4,0.3-6.1-2.1-7C10.1,47.8,7.7,48.3,6,52.3z"
            />
            <line
              class="st1"
              x1="14.5"
              y1="55.8"
              x2="34.7"
              y2="64.2"
            />
            <path
              class="st1"
              d="M117.7,164c-4,1.7-6.1,0.3-7-2.1c-1-2.3-0.5-4.8,3.5-6.4c4-1.7,6.1-0.3,7,2.1
          C122.2,159.9,121.7,162.3,117.7,164z"
            />
            <line
              class="st1"
              x1="114.2"
              y1="155.5"
              x2="105.8"
              y2="135.3"
            />
            <path
              class="st1"
              d="M52.3,6c-4,1.7-4.5,4.1-3.5,6.4c1,2.3,3,3.7,7,2.1c4-1.7,4.5-4.1,3.5-6.4C58.3,5.7,56.3,4.4,52.3,6z"
            />
            <line
              class="st1"
              x1="55.8"
              y1="14.5"
              x2="64.2"
              y2="34.7"
            />
            <path
              class="st1"
              d="M52.3,164c-4-1.7-4.5-4.1-3.5-6.4c1-2.3,3-3.7,7-2.1c4,1.7,4.5,4.1,3.5,6.4C58.3,164.3,56.3,165.6,52.3,164z"
            />
            <line
              class="st1"
              x1="55.8"
              y1="155.5"
              x2="64.2"
              y2="135.3"
            />
            <path
              class="st1"
              d="M117.7,6c-4-1.7-6.1-0.3-7,2.1c-1,2.3-0.5,4.8,3.5,6.4c4,1.7,6.1,0.3,7-2.1C122.2,10.1,121.7,7.7,117.7,6z"
            />
            <line
              class="st1"
              x1="114.2"
              y1="14.5"
              x2="105.8"
              y2="34.7"
            />
            <path
              class="st1"
              d="M6,117.7c-1.7-4-0.3-6.1,2.1-7c2.3-1,4.8-0.5,6.4,3.5c1.7,4,0.3,6.1-2.1,7C10.1,122.2,7.7,121.7,6,117.7z"
            />
            <line
              class="st1"
              x1="14.5"
              y1="114.2"
              x2="34.7"
              y2="105.8"
            />
            <path
              class="st1"
              d="M164,52.3c-1.7-4-4.1-4.5-6.4-3.5c-2.3,1-3.7,3-2.1,7c1.7,4,4.1,4.5,6.4,3.5C164.3,58.3,165.6,56.3,164,52.3z
          "
            />
            <line
              class="st1"
              x1="155.5"
              y1="55.8"
              x2="135.3"
              y2="64.2"
            />
          </g>
        </g>
      </svg>
      <span class="CoVid__Icon-text">
        <slot name="icon" />
      </span>
    </div>
    <slot />
  </div>
</template>
<style lang="scss">
@keyframes spin {
  0% {
    transform: rotate(0) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.CoVid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.CoVid__Wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .CoVid__Icon {
    animation: spin 5s linear infinite;
  }
  .CoVid__Icon-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 32px;
  }
}
.st0 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.516;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st1 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st2 {
  fill: #1565c0;
  stroke: #1565c0;
  stroke-width: 4.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st3 {
  fill: #1565c0;
}
.st4 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.4876;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st5 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st6 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.7196;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st7 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.5891;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st8 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.7475;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st9 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.4964;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st10 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.49;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st11 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.4935;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st12 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.5214;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st13 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.504;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st14 {
  fill: none;
  stroke: #1565c0;
  stroke-width: 4.5049;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st15 {
  display: none;
}
.st16 {
  display: inline;
}
.st17 {
  fill: none;
}
.st18 {
  font-family: "MarkOT-Medium";
}
.st19 {
  font-size: 10.6299px;
}
</style>