<template>
  <div class="CovidChart">
    <div class="Wrapper">
      <VueApexCharts
        v-if="history.length"
        type="line"
        width="100%"
        :options="options"
        :series="series"
      />
    </div>
  </div>
</template>

<script>
import historyByCountry from "@/services/historyByCountry";
import VueApexCharts from "vue-apexcharts";

const getColorFromLevel = level => {
  switch (level) {
    case "danger":
      return "#FF000099";
    case "info":
      return "#0000FF88";
    case "warning":
      return "#FF880099";
    default:
      return "grey";
  }
};

export const getAnnotationFromHito = ({ date, text, level }) => {
  return {
    x: new Date(date).toISOString().split("T")[0],
    strokeDashArray: 0,
    borderColor: getColorFromLevel(level),
    label: {
      borderColor: getColorFromLevel(level),
      style: {
        color: "#fff",
        background: getColorFromLevel(level)
      },
      text
    }
  };
};

export default {
  components: {
    VueApexCharts
  },
  props: {
    country: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      history: [],
      hitos: []
    };
  },
  computed: {
    options: function() {
      return {
        colors: [
          "#F7DC6F",
          "#C0392B",
          "#52BE80",
          "#F1C40F",
          "#E74C3C",
          "#2ECC71"
        ],
        stroke: {
          width: 2,
          curve: "straight",
          lineCap: "round"
        },
        chart: {
          id: "history-chart",
          stacked: false
        },
        xaxis: {
          type: "datetime",
          categories: this.history.map(({ date }) => {
            return date;
          })
        }
      };
    },
    series: function() {
      return [
        {
          name: "Confirmed",
          data: this.history.map(({ confirmed }) => confirmed)
        },
        {
          name: "Deaths",
          data: this.history.map(({ deaths }) => deaths)
        },
        {
          name: "Recovered",
          data: this.history.map(({ recovered }) => recovered)
        },
        {
          name: "Daily infections",
          data: this.history.map(({ confirmed }, index, history) => {
            if (history[index - 1]) {
              return confirmed - history[index - 1].confirmed;
            }
            return 0;
          })
        },
        {
          name: "Daily deaths",
          data: this.history.map(({ deaths }, index, history) => {
            if (history[index - 1]) {
              return deaths - history[index - 1].deaths;
            }
            return 0;
          })
        },
        {
          name: "Daily recovers",
          data: this.history.map(({ recovered }, index, history) => {
            if (history[index - 1]) {
              return recovered - history[index - 1].recovered;
            }
            return 0;
          })
        }
      ];
    }
  },
  watch: {
    country: function() {
      this.history = [];
      var that = this;
      historyByCountry({ country: this.country }).then(history => {
        that.history = Object.values(history);
      });
    }
  },
  beforeMount: async function() {
    const that = this;
    return historyByCountry({ country: this.country }).then(history => {
      that.history = Object.values(history);
    });
  }
};
</script>

<style lang="scss">
.CovidChart {
  max-width: 100%;
  overflow-x: scroll;
  .Wrapper {
    width: 1000px;
  }
}
</style>
