<template>
  <v-select
    v-model="localValue"
    :items="options"
    label="Initialized by"
  />
</template>

<script>
export default {
  name: "InitBySelector",
  props: {
    value: {
      type: [String, Number],
      default: null
    }
  },
  data() {
    return {
      options: [
        {
          text: "First world case",
          value: "date"
        },
        {
          text: "10.000 cases",
          value: 10000
        },
        {
          text: "1.000 cases",
          value: 1000
        },
        {
          text: "100 cases",
          value: 100
        }
      ]
    };
  },
  computed: {
    localValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    }
  }
};
</script>

<style>
</style>