
<template>
  <div class="NotFound">
    <CoVid>
      <template slot="icon">
        404
      </template>
      <h1>Page not found</h1>
      <slot />
    </CoVid>
  </div>
</template>
<style lang="scss">
.NotFound {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1565c0;
  h1 {
    margin: 16px 0;
  }
}
</style>