<template>
  <v-speed-dial
    v-model="fab"
    class="ShareButton"
    bottom
    right
    direction="top"
    transition="slide-y-reverse-transition"
  >
    <template v-slot:activator>
      <v-btn
        v-model="share"
        color="blue darken-2"
        dark
        fab
      >
        <v-icon v-if="share">
          mdi-close
        </v-icon>
        <v-icon v-else>
          mdi-share-variant
        </v-icon>
      </v-btn>
    </template>
    <TwitteButton
      class="share-button--circle"
      :btn-text="false"
      :share-url="url"
    />
    <TelegramButton
      class="share-button--circle"
      :btn-text="false"
      :url="url"
    />
    <WhatsAppButton
      class="share-button--circle"
      :btn-text="false"
      :url="url"
    />
  </v-speed-dial>
</template>

<script>
import TwitteButton from "vue-share-buttons/src/components/TwitterButton.vue";
import WhatsAppButton from "vue-share-buttons/src/components/WhatsAppButton.vue";
import TelegramButton from "vue-share-buttons/src/components/TelegramButton.vue";
export default {
  name: "ShareButton",
  components: { TwitteButton, WhatsAppButton, TelegramButton },
  props: {
    url: String
  },
  data: () => ({
    share: false
  })
};
</script>

<style>
.ShareButton {
  position: fixed !important;
}
</style>
